<script src="main.js"></script>
<script src="json2.js"></script>

<h1 id='header'>Money Tracker</h1>
<div id='mainBox'>
<button onclick="AddTracker()" style='margin-top: 5px; margin-left: 5px;' >Add Tracker</button>
<button onclick="Create(prompt('What would you like to name this profile?'));"style='margin-top: 5px;' >New Profile</button>

<h1 id="name" style='text-align: center; font-family: headerFont;'>Untitiled</h1>
<div id='trackers'></div>
</div>

<div id='list' style='position: absolute; left: 1010px; top: 130px; border: 3px solid black; width: 325px; margin-left: 6px; height: 496px;'>
	<h1 style='font-size: 20px; text-align: center; font-family: headerFont;'>Trackers</h1>
	<ul id='child-list'>
	</ul>
</div>
