@font-face {
    font-family: headerFont;
    src: url(HGTenderfoot.ttf);
}

#header {
    font-family: headerFont;
	text-align: center;
	font-size: 50px;
}

#mainBox {

	border: 3px solid black;
	height: 500px;
	width: 1000px;
    }

ul#child-list li {
	list-style-type: none;
}
